{% extends "Utils/base.html" %}

{% block content %}
<section class="cont">
    <div class="flexCenter p300">
        <h2>Encuentra el sitio web perfecto para ti</h2>
        <span>Plantillas para tu sitio web, blog o tienda online</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="background-color: red">
                filtros
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>
</section>


{% endblock %}
