{% extends "Utils/base2.html" %}

{% block content %}
<div style="width: 50%">
    <form method="POST" class="row g-3">
        <div class="col-md-12">
            <label for="email" class="form-label">Usuaio</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <!-- Apellido -->
        <div class="col-md-12">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="col-12 text-center" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </div>
    </form>
</div>
{% endblock %}